<!DOCTYPE html>
<html>
  <head>
    <title>{{title | default(site_title)}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/zero.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {% include 'titlebar.j2' %}
    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% include 'footer.j2' %}

    {% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.2.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>
    {% endblock %}
  </body>
</html>
